
// Fix checkboxes
body {
  #wr-widget-form {
    input[type="radio"],
    input[type="checkbox"]{
      margin-left: -20px;
      margin-top: 0;
    }  
  }
}

body.role-non-admin .wr-editor-wrapper {

  #mode-switcher,
  #page-custom-css,
  .jsn-row-container>.jsn-iconbar.jsn-vertical {
    display: none !important;
  }
}

#wr_pb_button {
  display: none;
}