$dialog-label-width: 150px;
$dialog-font-size: 15px;

.so-panels-dialog {

  // Popup form styling
  .so-content {
    .form-group {
      margin-bottom: 40px;
    }

    label {
      font-size: $dialog-font-size;
      position: absolute;
      width: $dialog-label-width - 20px;
      text-align: right;
      font-weight: bold;
    }

    textarea,
    input,
    select,
    div.radio,
    div.checkbox {
      margin-left: $dialog-label-width;
      max-width: 75%;
      font-size: $dialog-font-size;
    }

    input,
    select {
      max-width: 350px;
    }

    div.radio,
    div.checkbox {

      label {
        position: relative;
        line-height: 27px;
        width: auto;
        font-weight: normal;
      }

      input {
        margin-left: -20px;
      }
    }

    // Jumbotron img upload field
    img.custom_media_image {
      margin-left: $dialog-label-width !important;
      margin-top: 10px !important;
      margin-right: - $dialog-label-width + 10px !important;
    }
    .upload_image_button {
      margin-top: 10px;
    }
  }

  .so-right-sidebar {
    h3,
    h4 {
      font-size: $dialog-font-size;
    }
  }

  .so-buttons {
    font-size: $dialog-font-size;
  }


  // Hide some of the prebuilt layout options
  .so-sidebar-tabs {
    li:nth-child(2),
    li:nth-child(2),
    li:nth-child(5) {
       display:none;
    }
  }
}

.so-widget {
  min-height: 65px !important;
}