// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.field-group {
  position: relative;
  margin-bottom: 1em;

  label {
    position: absolute;
  }
  input,
  textarea,
  .description {
    width: 33%;
    min-width: 200px;
    position: relative;
    margin-left: 110px;
    top: -0em;
  }

  .description {
    color: $gray;
  }
}

.checkboxes {
  margin-bottom: .5em;

  input {
    margin-right: .5em;
  }
}

input {
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  color: $gray-dark;
}

#titlediv {
  #title,
  #title-prompt-text {
    height: 5rem !important;
    line-height: 5rem !important;
  }

  #title {
    color: $gray-dark;
  }

  #title-prompt-text {
    padding-top: 0;
  }
}
