$inline-form-label-width: 150px;


.form-group,
.field-group {
  position: relative;
  margin-bottom: 1em;

  & > {
    label {
      font-weight: 400!important;
      position: absolute;
      padding-top: 5px;
      width: 110px;
    }
  }

  & >, div > {
    // Events override
    #location-name,
    input,
    textarea,
    .radio,
    .checkbox,
    select {
      position: relative;
      margin-left: 110px;
      top: -0em;
    }

    input,
    textarea,
    select {
      width: 33%;
      min-width: 200px;
    }

    textarea {
      width: 50%;
    }

    .wp-editor-wrap {
      width: 98%;
    }
      
    .description,
    .help-block {
      margin-left: 110px;
    }

    .radio,
    .checkbox {
      label {
        position: relative;
        padding-top: 2px;
      }

      input {
        width: 16px;
        min-width: 0;
      }
    }
  }

  select {
    height: 40px;
  }

  .description {
    color: $gray;
  }
}

.checkboxes {
  margin-bottom: .5em;

  input {
    margin-right: .5em;
  }
}

input {
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  color: $gray-dark;
}

#titlediv {
  #title,
  #title-prompt-text {
    height: 5rem !important;
    line-height: 5rem !important;
  }

  #title {
    color: $gray-dark;
  }

  #title-prompt-text {
    padding-top: 0;
  }
}


// Popup, settings form styling
.so-content,
.proud-settings {
  .form-group {
    margin-bottom: 40px;
  }

  label {
    position: absolute;
    width: $inline-form-label-width - 20px;
    text-align: right;
    font-weight: bold;
  }

  .help-block,
  textarea,
  input,
  select,
  div.radio,
  div.checkbox {
    margin-left: $inline-form-label-width;
    max-width: 75%;
  }

  input,
  select {
    max-width: 350px;
  }

  div.radio,
  div.checkbox {

    label {
      position: relative;
      line-height: 27px;
      width: auto;
      font-weight: normal;
    }

    input {
      margin-left: -20px;
    }

    .help-block {
      margin-left: 0;
    }
  }

  // Jumbotron img upload field
  img.custom_media_image {
    margin-left: $inline-form-label-width !important;
    margin-top: 10px !important;
    margin-right: - $inline-form-label-width + 10px !important;
  }
  .upload_image_button {
    margin-top: 10px;
  }
}


// Add event location field
#em-event-where .col-sm-6 i {
  display: none;
}