
$base-font-size: 13px;

// Proud Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$sidebar-width: 228px;
$sidebar-link-padding: 10px 20px;
$font-size: 15px;

$admin-bar-height: 47px;