// Init styles
// ---------------------------

@import "loaders/load-local";

// Local Styles
// ---------------------------

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/pagebuilder";
@import "layouts/misc";
@import "modules/wr-pagebuilder.scss";
@import "modules/dashboard.scss";