.login h1 a {
  background-image: url(https://my.proudcity.com/images/FullLogoBlack.png);
  background-size: auto !important;
  height: auto;
  width: 100%;
}

#attributionBadge,
.a0-sign-up,
#extra-options {
  display: none !important;
}