
// Calypso settings
$color-sidebar-bg: #f7f7f7;
$color-sidebar-border: #ebebeb;
$color-sidebar-link: #4a4a4a;
$color-sidebar-submenu-bg: #ebebeb;
$color-sidebar-active-bg: #ABABAB;
$color-sidebar-active-color: #fff;
$color-sidebar-caret-color: #f1f1f1;


$color-sidebar-bg: #212121; //$gray-base
$color-sidebar-border: $color-sidebar-bg;
$color-sidebar-link: $gray-light;
$color-sidebar-submenu-bg: $gray-darker;
$color-sidebar-active-bg: $gray-darkest;
$color-sidebar-active-color: $white;
$color-sidebar-caret-color: $gray-lighter;


#wpcontent,
#wpfooter {
  margin-left: $sidebar-width;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background-color: $color-sidebar-bg;
  width: $sidebar-width;
}

#adminmenu {
  li,
  a {
    background-color: $color-sidebar-bg !important;
    background: none !important;
    font-size: $font-size !important;
  }

  a {
    color: $color-sidebar-link !important;

    &.wp-has-current-submenu,
    &:hover {
      background-color: $color-sidebar-active-bg !important;
      color: $color-sidebar-active-color !important;
    }
  }

  li.opensub {
    &>a {
      background-color: $color-sidebar-active-bg !important;
      color: $color-sidebar-active-color !important;
    }

    &:after {
      border-right-color: $color-sidebar-caret-color !important;
    }
  }

  div.wp-menu-name {
    padding: $sidebar-link-padding;
  }

  .dashicons-before {
    display: none !important;
  }

  .wp-submenu {
    left: $sidebar-width
  }
  
  .wp-has-current-submenu {
    &:after {
      display: none !important;
    }
    .wp-submenu {
      background-color: $color-sidebar-submenu-bg !important;
      padding-left: 15px; // @todo: var
    }
  }

  li.menu-top:before {
    padding-left: 10px; // @todo: var
    color: $gray-light;
    font-size: $font-size-h3;
    padding-top: 10px;
    font-weight: 100;
  }

  li.menu-icon-page:before {
    content: 'Publish';
  }

  li.menu-icon-appearance:before {
    content: 'Configure';
  }

  //li.hide-if-no-customize:before {
    //content: 'Configure';
  //}

  #collapse-menu {
    display: none;
  }
}


