
// Calypso settings
$color-sidebar-bg: #f7f7f7;
$color-sidebar-border: #ebebeb;
$color-sidebar-link: #4a4a4a;
$color-sidebar-submenu-bg: #ebebeb;
$color-sidebar-active-bg: #ABABAB;
$color-sidebar-active-color: #fff;
$color-sidebar-caret-color: #f1f1f1;


$color-sidebar-bg: #212121; //$gray-base
$color-sidebar-border: $color-sidebar-bg;
$color-sidebar-link: $gray-light;
$color-sidebar-submenu-bg: $gray-darker;
$color-sidebar-active-bg: $black;
$color-sidebar-active-color: $white;
$color-sidebar-submenu-link-color: $gray-lightest;
$color-sidebar-caret-color: $gray-lighter;


#wpcontent,
#wpfooter {
  margin-left: $sidebar-width;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background-color: $color-sidebar-bg;
  width: $sidebar-width;
}

#adminmenu {
  padding-bottom: 10px;

  li,
  a {
    background-color: $color-sidebar-bg !important;
    background: none !important;
    font-size: $font-size !important;
  }

  a {
    color: $color-sidebar-link !important;

    &.wp-has-current-submenu,
    &:hover {
      background-color: $color-sidebar-active-bg !important;
      color: $color-sidebar-active-color !important;
    }
  }

  li.opensub {
    &>a {
      background-color: $color-sidebar-active-bg !important;
      color: $color-sidebar-submenu-link-color !important;
    }

    &:after {
      border-right-color: $color-sidebar-caret-color !important;
    }
  }

  div.wp-menu-name {
    //padding: $sidebar-link-padding;
  }

  .dashicons-before {
    //display: none !important;
    img {
      display: none;
    }
    &:before {
      content: "\f15c";
      font: normal normal normal 14px/1 FontAwesome !important;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      display: none;
      color: $color-sidebar-link !important;
      margin-top: 3px;
    }
  }

  .menu-icon-home .dashicons-before:before {
    content: "\f015";
    display: inline-block;
  }
  .menu-icon-analytics .dashicons-before:before {
    content: "\f1fe";
    display: inline-block;
  }

  .menu-icon-page .dashicons-before:before {
    content: "\f15b";
    display: inline-block;
  }
  .menu-icon-agency .dashicons-before:before {
    content: "\f19c";
    display: inline-block;
  }
  .menu-icon-document .dashicons-before:before {
    content: "\f15c";
    display: inline-block;
  }
  .menu-icon-question .dashicons-before:before {
    content: "\f059";
    display: inline-block;
  }
  .menu-icon-payment .dashicons-before:before {
    content: "\f09d";
    display: inline-block;
  }
  .menu-icon-post .dashicons-before:before {
    content: "\f1ea";
    display: inline-block;
  }
  .menu-icon-job_listing .dashicons-before:before {
    content: "\f0b1";
    display: inline-block;
  }
  .menu-icon-staff-member .dashicons-before:before {
    content: "\f007";
    display: inline-block;
  }
  .menu-icon-event .dashicons-before:before {
    content: "\f073";
    display: inline-block;
  }

  .menu-icon-appearance .dashicons-before:before {
    content: "\f1fc";
    display: inline-block;
  }
  .menu-icon-menus .dashicons-before:before {
    content: "\f0c9";
    display: inline-block;
  }
  .menu-icon-media .dashicons-before:before {
    content: "\f03e";
    display: inline-block;
  }
  .toplevel_page_proudsettings .dashicons-before:before {
    content: "\f085";
    display: inline-block;
  }


  .wp-submenu {
    left: $sidebar-width
  }
  
  .wp-has-current-submenu {
    &:after {
      display: none !important;
    }
    .wp-submenu {
      background-color: $color-sidebar-submenu-bg !important;
      padding-left: 15px; // @todo: var
    }
  }

  li.menu-top:before {
    padding-left: 10px; // @todo: var
    color: $gray-light;
    font-size: $font-size-h3;
    padding-top: 10px;
    font-weight: 100;
  }

  li.menu-icon-page:before {
    content: 'Publish';
  }

  li.menu-icon-appearance:before {
    content: 'Configure';
  }

  //li.hide-if-no-customize:before {
    //content: 'Configure';
  //}

  #collapse-menu {
    display: none;
  }
}

// Responsive
@media screen and (max-width: 960px) {
  #adminmenu {
    li.menu-icon-page:before,
    li.menu-icon-appearance:before {
      content: '';
    }
  }
}


